# WordPress
public/content/uploads

# Ignore things with passwords
database.yml
s3.yml

# Misc.
.sass-cache
.DS_Store
cache

# Vagrant and Puppet
.vagrant
vagrant_nginx_postprocess
site.pp
.cache
vagrant-custom.rb

# Site
css/
js/