# WordPress
public/content/uploads

# Ignore environment config (passwords)
database.yml

# Misc.
.sass-cache
.DS_Store
cache

# Vagranty things
.vagrant
vagrant_nginx_postprocess
site.pp
.cache
vagrant-custom.rb

# WordPressy things
w3tc