[submodule "vendor/php/yaml"]
	path = vendor/php/yaml
	url = git://github.com/fabpot/yaml.git
[submodule "public/wp"]
	path = public/wp
	url = git://github.com/WordPress/WordPress.git
[submodule "vendor/php/quickassets"]
	path = vendor/php/quickassets
	url = git://github.com/vanpattenmedia/quickassets.git
[submodule "config/puppet/modules"]
	path = config/puppet/modules
	url = git://github.com/vanpattenmedia/vpmframe-module-puppet.git
[submodule "config/nginx/modules"]
	path = config/nginx/modules
	url = git://github.com/vanpattenmedia/vpmframe-module-nginx.git
[submodule "config/php/modules"]
	path = config/php/modules
	url = git://github.com/vanpattenmedia/vpmframe-module-php.git
[submodule "config/varnish/modules"]
	path = config/varnish/modules
	url = git://github.com/vanpattenmedia/vpmframe-module-varnish.git
[submodule "config/scripts/modules"]
	path = config/scripts/modules
	url = git://github.com/vanpattenmedia/vpmframe-module-scripts.git
