# Ignore things that should be secure
wp-salts.php
config/credentials/

# Compiled files and dependencies
public/assets/
public/content/plugins/
public/content/uploads/
public/wp/
vendor/

# Hidden files, cashes, assets, and misc.
.sass-cache
.DS_Store
cache
.cache
node_modules
.vagrant
vagrant_nginx_postprocess
site.pp
vagrant-custom.rb
.bundle
npm-debug.log
